.banner{background:url("../xhp_images/check/banner_1.png") no-repeat center;width: 100%;height: 330px;min-width: 1000px}
.banner a{width: 100%;height: 100%;display: block}

.check{width: 1000px;margin: 78px auto 0 ;text-align: center;}
.check h1{color: #1ab4c3;font-size: 32px;font-weight: normal}
.check h2{font-weight: normal;font-size: 14px;width: 814px;margin: 10px auto 7px}
.check h1 span{color: #c3c3c3;text-transform: uppercase;font-size: 16px;display: block;margin-top: 9px}
.check dl{width: 280px;float: left;margin: 38px 80px 31px 0}
.check .no_margin{margin-right: 0}
.check dl dd{font-size: 12px;text-align:left;width: 268px;height: 142px}
.check dl dd p{font-size: 16px;margin:17px 0 14px}

.step{clear:both;width: 100%;height: 700px;min-width: 1000px;background: url("../xhp_images/check/interaction_bg.png") no-repeat center;text-align: center}
.step p{font-size: 32px;color: #FFFFFF;padding-top: 60px}
.step p span{color:#FFFFFF;text-transform: uppercase;font-size: 16px;display: block;margin-top: 9px}
.step .step_con{width: 1000px;margin: 0 auto}
.step .step_con .step1{text-align: center;width: 80px;margin:46px 0 0 50px}
.step .step_con .step2,.step3,.step4,.step5,.step6,.step7,.step8,.step9{float: left;text-align: center;width: 80px;margin:40px 90px 20px 50px}
.step .step_con dl dt{border-radius: 50%;-webkit-border-radius: 50%;width: 80px;height: 80px;background: #ffffff url("../xhp_images/check/before.png") no-repeat;}
.step .step_con dl dt:hover{border-radius: 50%;-webkit-border-radius: 50%;width: 80px;height: 80px;background: #97f6ff url("../xhp_images/check/after.png") no-repeat;}
.step .step_con dl .step1_pic{background-position:5px 0px}
.step .step_con dl .step1_pic:hover{background-position:5px 0px}
.step .step_con dl .step2_pic{background-position:2px -75px}
.step .step_con dl .step2_pic:hover{background-position:2px -75px}
.step .step_con dl .step3_pic{background-position:-80px -77px}
.step .step_con dl .step3_pic:hover{background-position:-80px -77px}
.step .step_con dl .step4_pic{background-position:-160px -75px}
.step .step_con dl .step4_pic:hover{background-position:-160px -75px}
.step .step_con dl .step5_pic{background-position:-239px -77px}
.step .step_con dl .step5_pic:hover{background-position:-239px -77px}
.step .step_con dl .step6_pic{background-position:5px -162px}
.step .step_con dl .step6_pic:hover{background-position:5px -162px}
.step .step_con dl .step7_pic{background-position:-80px -162px}
.step .step_con dl .step7_pic:hover{background-position:-80px -162px}
.step .step_con dl .step8_pic{background-position:-160px -162px}
.step .step_con dl .step8_pic:hover{background-position:-160px -162px}
.step .step_con dl .step9_pic{background-position:-243px -155px}
.step .step_con dl .step9_pic:hover{background-position:-243px -155px}
.step .step_con dl dd{font-size: 14px;margin-top: 11px;color: #FFFFFF;width: 85px}

.hospital{clear:both;width: 1000px;margin: 0 auto;padding:85px 0 60px;text-align: center}
.hospital h1{color: #1ab4c3;font-size: 32px;font-weight: normal}
.hospital h1 span{color: #c3c3c3;text-transform: uppercase;font-size: 16px;display: block;margin-top: 9px;margin-bottom: 40px}
.hospital_detail{height:170px;padding-bottom: 80px}
.hospital_detail dl{float: left;width: 712px}
.hospital_detail dl dt{float: left}
.hospital_detail dl dd{margin-left: 312px;width: 400px}
.hospital_detail dl dd h1{font-size: 16px;font-weight: normal;color: #2e2e2e;text-align: left;}
.hospital_detail dl dd h1 span{font-size: 12px;color: #2e2e2e;margin-bottom: 12px;height: 70px;margin-bottom: 17px}
.hospital_detail dl dd div{text-align: left}
.hospital_detail dl dd div span{font-size:14px;margin-left:10px;background: url("../xhp_images/japan/talkbox.png") no-repeat center;width: 312px;height: 30px;display: inline-block;padding: 6px 0 0 26px}
.detail_right{float: right;width: 115px;height: 89px;margin:30px 63px 0 0}
.detail_right h1{font-size: 16px;margin:0}
.detail_right h1 span{font-size: 14px;color: #1ab4c3;line-height:14px;margin:3px 0 18px}
.detail_right p{line-height:32px;width: 115px;height: 32px;background: #1ab4c3;border-radius:1px;-webkit-border-radius: 1px}
.detail_right p:hover{background: #1a9fc3}
.detail_right p a{color: #FFFFFF}

.black_box{z-index:1;width: 100%;height:100%;background:rgba(0,0,0,.3);position:fixed;display: none}
.sheet{display:none;z-index:10;box-shadow:0 0 22px #000;-webkit-box-shadow:0 0 22px #000;width: 500px;height: 536px;position: fixed;left: 50%;top: 50%;margin: -268px 0 0 -250px;background: #FFFFFF}
.sheet i{background: url("../xhp_images/sidebar/cancel.png") no-repeat center;width: 16px;height: 16px;display:block;margin: 20px 0 0 467px;cursor: pointer}
.sheet p{font-size: 22px;color: #1ab4c3;margin: 4px 0 0 64px}
.sheet select{width: 377px;height: 41px;border: 1px solid #c3c3c3;margin: 13px 0 0 61px;padding:0 10px;border-radius: 21px;-webkit-border-radius:2px}
.sheet input{width: 357px;height: 41px;border: 1px solid #c3c3c3;margin: 13px 0 0 61px;padding:0 10px;border-radius: 2px;-webkit-border-radius:2px}
.sheet textarea{width:357px;height: 101px; border: 1px solid #c3c3c3;margin: 13px 0 0 61px;padding:10px 10px;border-radius: 21px;-webkit-border-radius:2px}
.sheet .btn{color: #FFFFFF;background: #1ab4c3;cursor: pointer}

.sidebar{width: 40px;height: 225px;position: fixed;top:350px;right: 3px}
.sidebar img{margin-bottom: 5px}
.sidebar .code{background: url("../xhp_images/sidebar/qr_code.png") no-repeat center;display:none;width: 136px;height: 130px;;position: fixed;top:485px;right: 43px}
.sidebar li:hover .code{display: block}